*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    width: 100%;
    height: 10%;
    padding: 1%;
    background-color: rgb(60, 60, 221);
    align-items: center;
    justify-content: right;
}

.actions{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.action{
    padding-left: 5%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 2.5vw;
    color: cornsilk;
}

.appointment{
    position: relative;
    display: flex;
    justify-content: left;
    width: 100%;
}